/* --- The Overlay (background) --- */
#my-nav {
    left: -100%;
}

.overlay {
    background: var(--background-primary-color-RGBA);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    height: 100%;
    position: fixed;
    left: 0;
    top: 0px;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 5;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

/* Title of overlay */
.overlay-content h4 {
    padding: 8px;
    text-decoration: none;
    color: var(--text-primary-color);
    display: block;
    margin: 0;
    cursor: default;
    font-weight: 800;
    letter-spacing: 7px;
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    color: var(--text-primary-color);
    display: block;
}


/* Position the close button (top right corner) */
.overlay .close-btn {
    position: absolute;
    transition: .4s;
}

.overlay .close-btn:hover {
    color: red;
    text-shadow: 0px 0px 20px red;
    transition: .4s;
}

/* --- Menu Button --- */
.menubutton {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.5s;
    align-items: center;
    justify-content: center;
    text-align: initial;
    z-index: 4;
    transition: .4s;
}

.transparent-menubutton {
    transition: 0.7s;
    opacity: 0;
}

.no-transparent-menubutton {
    transition: 0.7s;
    opacity: 100%;
}

.banner-wrapper {
    place-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.banner-button {
    text-decoration: none;
    color: var(--text-primary-color) !important;
}

.banner-wrapper .banner-button {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background-image: linear-gradient(120deg, var(--3-color) 0%, var(--4-color) 100%);
    border-radius: 50px;
    cursor: pointer;
    align-items: center;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-out;
}

.banner-wrapper .banner-button:hover {
    width: 220px;
}

.banner-wrapper .banner-button .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
}

.banner-wrapper .banner-button .icon i {
    font-size: 30px;
    line-height: 2.1em;
    transition: all 0.3s ease-out;
    color: var(--text-primary-color);
}

.banner-wrapper .banner-button span {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 7px;
    line-height: 60px;
    margin-left: 5px;
    transition: all 0.3s ease-out;
    color: var(--text-primary-color);
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 576px) {
    .banner-button {
        font-size: 25px;
    }

    .overlay h4 {
        font-size: 25px;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .close-btn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
    
    .banner-wrapper .banner-button:hover {
        width: 60px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .banner-button {
        font-size: 30px;
    }

    .overlay h4 {
        font-size: 30px;
    }

    .overlay a {
        font-size: 25px
    }

    .overlay .close-btn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .banner-button {
        font-size: 30px;
    }

    .overlay h4 {
        font-size: 35px;
    }

    .overlay a {
        font-size: 30px
    }

    .overlay .close-btn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .overlay h4 {
        font-size: 40px;
    }

    .overlay a {
        font-size: 36px
    }

    .overlay .close-btn {
        top: 20px;
        right: 45px;
        font-size: 60px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}