/* Scroll Up Button */
.scroll-to-top-container {
    display: inline-block;
    position: fixed;
    border: none;
    z-index: 100;
    bottom: 40px;
    right: 40px;
    border-radius: 50px;
    opacity: 0;
    transform: translateY(150px);
    transition: all .5s ease;
}

.scroll-to-top {
    display: inline-block;
    border: none;
    color: var(--text-primary-color);
    height: 60px;
    width: 60px;
    overflow: hidden;
    z-index: 100;
    background-color: transparent;
    border-radius: 50px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all .5s ease;
}

i.bi.bi-chevron-bar-up {
    font-size: 1.8em;
}

.show-btn {
    opacity: 1;
    transform: translateY(0px);
}

.scroll-to-top:focus {
    outline: none;
}

.glass {
  background: var(--background-primary-color-RGBA);
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}