:root{
    --3-color: #bae0ab !important;
    --4-color: #e7d5a2 !important;
}

html * {
    font-family: Montserrat;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

.row {
    margin: 0;
}

a:hover {
    text-decoration: none;
    color: var(--text-primary-color);
}

p {
    margin: 0;
}

/* Background Image */
.img-src {
    position: fixed;
    top: 0;
    height: 100dvh;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100vw;
    object-fit: cover;
}

/* --- Banner Title --- */
#banner-title {
    height: 100vh;
}

.title-container {
    transition-duration: 300ms;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
}

.title-svg {
    width: 70vw;
    z-index: -1
}

.cls-1-black,
.cls-4-black {
    fill: black;
}

/* Line */
.line {
    width: 100px;
    border: 5px solid var(--text-primary-color);
    border-radius: 10px;
    margin-top: 50px;
    margin: auto;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

/* --- Sections --- */
.all-sections {
    max-width: 1400px;
    margin: auto;
    color: var(--text-primary-color);
    background: var(--background-primary-color);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.65);
    border-radius: 30px;
    width: 95%;
}

.description-title,
.logo-title,
.color-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.description-title h3,
.logo-title h3,
.color-title h3{
    text-align: center;
    padding: 8px 25px;
    color: var(--text-primary-color);
    font-size: 25px;
    font-weight: 800;
    cursor: default;
    background-image: linear-gradient(120deg, var(--3-color) 0%, var(--4-color) 100%);
    border-radius: 50px;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 30px;
    letter-spacing: 6px;
    white-space: nowrap;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

.description {
    margin: 50px 0;
}

/* Description Section */
.description-content p,
.description-details p,
.logo-content p {
    text-indent: 1.5rem;
    font-size: 15px;
    line-height: 26px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    text-align: justify;
}

.description-name {
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: justify;
    margin: 40px 0 20px 0;
    line-height: 40px;
    word-break: keep-all;
    font-weight: 800;
    font-size: 45px;
    letter-spacing: 3px;
}

.description-details {
    font-size: 15px;
    line-height: 26px;
    text-align: left;
    margin-top: 20px;
}

.description-details ul {
    list-style-type: circle;
    padding: 0px;
    text-align: justify;
}

.description-list{
    margin: 20px;
}

/* Logo Section */
.logo-content, .logo-icon, .contur-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.description-content {
    display: flex;
    justify-content: center;
}

.description-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


/* SVG */
.symbol-svg {
    background-color: var(--text-primary-color);
    -webkit-mask: url(/assets/img/projects/contur-nedefinit/symbol.svg) no-repeat right;
    mask: url(/assets/img/projects/contur-nedefinit/symbol.svg) no-repeat right;
    height: 30rem;
    margin-top: 20px
}

.logo-svg {
    background-color: var(--text-primary-color);
    -webkit-mask: url(/assets/img/projects/contur-nedefinit/logo.svg) no-repeat right;
    mask: url(/assets/img/projects/contur-nedefinit/logo.svg) no-repeat right;
    height: 20rem;
}

/* Color Section */
.color-description {
    text-align: justify;
    margin: auto;
    display: flex;
    margin-top: 30px;
    width: 95%;
}

.color {
    padding: 40px 0;
}

.color p {
    font-size: 15px;
    line-height: 26px;
    
}

.color-links:hover {
    text-decoration: underline;
}

.color-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.color-circle {
    width: 5rem;
    height: 5rem;
    border: 1px solid black;
    border-radius: 50%;
}

.color-details {
    text-align: left;
    margin-left: 20px;
}

.color-1 {
    background-color: white;
}

.color-2 {
    background-color: #EBFFE3;
}

.color-3 {
    background-color: #E9B427;
}

/* --- Media Queries ---- */

@media (prefers-reduced-motion) {
    .hide-elements-fade {
        transition: none;
    }
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 576px) {
    body {
        text-align: center;
    }

    .gallery-category-text {
        font-size: 1.5rem;
    }

    .description-name {
        font-size: 25px;
    }

    .description-content p,
    .description-details p,
    .logo-content p,
    .typeface-content p,
    .logo-svg,
    .symbol-svg {
        width: 95%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .description-name {
        font-size: 45px;
    }
    
    .description-content p,
    .description-details p,
    .logo-content p,
    .typeface-content p,
    .logo-svg,
    .symbol-svg {
        width: 95%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        text-align: initial;
    }

    .description-content p,
    .description-details p,
    .logo-content p,
    .typeface-content p,
    .logo-svg,
    .symbol-svg {
        width: 90%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}